/*!
 * Greg Misicko
 * css file created for Project 2
 * CS E15
 */

head
{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#dddddd;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

body
{
     margin: 0;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color:#ffffff;
     font-size: 18px;
     line-height: 20px;
     color: #000000;
}

h1 
{	
	text-align:left;
	font-size:30px;
	margin-top:25px;
	margin-bottom:25px;
}

h2 
{	
	text-align:center;
	font-size:25px;
}

.error
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #FF1717;
}

.header
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#dddddd;
    font-size: 18px;
    line-height: 20px;
    color: #000000;	
}

.shadow
{
    background-color:#bbbbbb;	
}

.title
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #0080FF;	
}

.table_settings
{
	padding: 5px;
	border: 0;
	border-radius:25px;
	margin: 3;
	background-color:#ffffff;
	text-align: left;
	vertical-align: top;
}

.border_table
{
	border:2px solid;
    border-radius:25px;
	border-spacing: 10px;
	background-color:#C1ECF5;
	box-shadow: 6px 6px 6px #888888;
}

.table_margin
{
	border-spacing: 10px;
	background-color:#ffffff;
}

p 
{
     color: black;
     font-size: 100%;
}